/* General Colors */
:root {
  --color-1: #eaeaea;
  --color-2: #000000;
  --background: #f4f4f4;
  --red-valmes: rgba(202, 0, 0, 0.34);
  --red-valmeshover: rgb(252 0 0 / 76%);
}
/* Media Queries 720px */
main section {
  max-width: 690px;
}
form button {
  width: 60%;
}
.menu_bar {
  display: block;
  background-color: var(--red-valmes);
}
ul.menu li {
  background-color: transparent;
}
.menu {
  justify-content: space-around;
}
.menu li:hover {
  background-color: var(--color-1);
  color: var(--red-valmes);
}
.primaryContent {
  width: 100vw;
  display: flex;
}
header.commonTop section h6 a {
  width: auto;
}
main.tableContent {
  width: 100%;
}
section.main-tables-content {
  max-width: 95%;
}
div.columnsTitle {
  width: 100%;
}
div.columnsContent {
  width: 100%;
}
/*.columnsContent {}*/
section div.columnsSecondary {
  display: inline-block;
}
div.columnTitleG {
  width: -webkit-fill-available;
}
.columnsContent .module {
  margin-top: 8px;
}
aside {
  display: none;
  width: 10vw;
}
footer {
  height: 45px;
}
footer div {
  padding: 8px;
}